<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/css/site.css|resources/css/cp.css" }}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.2/dist/cdn.min.js"></script>
        {{ yield:head }}
        {{ /yield:head }}
    </head>
    <body class="leading-normal text-gray-800">
        {{ partial:partials/header }}
        <div class="">
            {{ template_content }}
        </div>
        {{ partial:partials/footer }}
    </body>
</html>
