<section class="bg-[#efeae3] py-10">
    <div class="container mx-auto flex gap-20 px-5 md:flex-nowrap flex-wrap">

    <div class="w-full md:max-w-[30%] flex flex-col justify-between relative items-start">
        <div>
            <h3>{{hero:title}}</h3>
            <p>{{hero:description}}</p>
        </div>
        <div class="hidden md:block">
            <img src="/assets/cta.svg" alt="et media">
        </div>
        <div class="mt-8 md:mt-0">
            <a class="border inline-block border-gray-400 rounded-full py-4 px-6 text-sm font-medium mt-4 hover:bg-gray-900 hover:text-gray-100 ease-in duration-300" href="{{hero:button}}">Los geht's</a>
        </div>
    </div>

    <div class="w-full md:max-w-[70%]">
        <img class="" src="{{hero:image:0}}" alt="{{hero:image:0:alt}}">
    </div>

    </div>
</section>
